/* Font names only. Obtain approved licensed files privately.
   This file does not load fonts or imply that fallbacks validate the brand. */
:root {
  --kudu-font-en: "Config Rounded", sans-serif;
  --kudu-font-ar: "DIN Next Arabic", sans-serif;
  --kudu-font-weight-medium: 500;
  --kudu-font-weight-bold: 700;
  --kudu-text-page-title-size: 28px;
  --kudu-text-section-title-size: 20px;
  --kudu-text-component-title-size: 16px;
  --kudu-text-body-size: 14px;
  --kudu-text-reading-size: 16px;
  --kudu-text-small-size: 12px;
  --kudu-line-height-tight: 1.25;
  --kudu-line-height-default: 1.5;
  --kudu-line-height-relaxed: 1.65;
}
